@charset "UTF-8";
/* line 12, ../sass/nandi.scss */
* {
  font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",微软雅黑,STHeiti,MingLiu;
}

/* line 15, ../sass/nandi.scss */
html, body {
  min-height: 100%;
  min-width: 100%;
}

/* line 19, ../sass/nandi.scss */
.navigation {
  background-color: #10131a;
  border-bottom: 2px solid #62759a;
  padding-left: 0;
  //margin: 0 auto;
}
/* line 23, ../sass/nandi.scss */
.navigation #menuTextLeft {
  color: #ece7df;
  cursor: pointer;
  font-size: 18px;
  font-weight: 200;
  transition: 0.3s;
}
/* line 29, ../sass/nandi.scss */
.navigation #menuTextLeft:hover {
  background-color: rgba(255, 255, 255, 0.5);
  
  transform: scale(1.1);
}

/* line 37, ../sass/nandi.scss */
.navbar-nav{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.navbar-nav li a {
  padding-bottom: 0;
  padding-top: 1px;
}

/* line 44, ../sass/nandi.scss */
.intro-header {
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #31394d;
}

@keyframes typing {
  0% {
    width: 0;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
/* line 55, ../sass/nandi.scss */
.intro-message {
  position: relative;
  padding-top: 15%;
  padding-bottom: 10%;
  color: #ece7df;
}
/* line 60, ../sass/nandi.scss */
.intro-message h1 {
  font-size: 50px;
}
/* line 63, ../sass/nandi.scss */
.intro-message #cys__photo {
  width: 140px;
  -webkit-clip-path: circle(70px at 70px 70px);
  object-fit: cover;
  margin-bottom: 30px;
}
/* line 69, ../sass/nandi.scss */
.intro-message h3 {
  left: 30%;
  font: bold 200% Consolas, Monaco, monospace;
  border-right: .1em solid;
  width: 22ch;
  /* # of chars */
  margin: 1em 36%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 7s steps(21, end), blink-caret 0.5s step-end infinite alternate;
}

/* line 81, ../sass/nandi.scss */
img.icon {
  width: 200px;
  height: 200px;
}

/* line 85, ../sass/nandi.scss */
.intro_p {
  margin-top: 10px;
  font-size: 18px;
  color: #31394d;
  margin-top: 10%;
  text-shadow: 0 0 1px #eee;
  transition: 0.2s;
}
/* line 92, ../sass/nandi.scss */
.intro_p:hover {
  transform: scale(1.1);
}

/* line 97, ../sass/nandi.scss */
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* line 105, ../sass/nandi.scss */
.content-section-a {
  text-align: center;
  padding-top: 5%;
  margin-bottom: 5%;
}
/* line 109, ../sass/nandi.scss */
.content-section-a h1 {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
}
/* line 114, ../sass/nandi.scss */
.content-section-a i {
  font-size: 30px;
}
/* line 117, ../sass/nandi.scss */
.content-section-a .lead {
  margin-bottom: 4%;
}

/* line 121, ../sass/nandi.scss */
.intro-row {
  text-align: left;
  background-color: #7373ad;
  padding: 1.5em;
  color: #fafafa;
}
/* line 126, ../sass/nandi.scss */
.intro-row h3 {
  margin-left: 10%;
  font-size: 22px;
  font-weight: 100;
  text-shadow: 0 0 1px #fff;
}
/* line 131, ../sass/nandi.scss */
.intro-row h3 span {
  margin-left: 8%;
  text-shadow: none;
  white-space: pre;
  font-size: 20px;
}

/* line 139, ../sass/nandi.scss */
.hobby {
  background-color: #88d7de;
}

/* line 143, ../sass/nandi.scss */
.content-section-b {
  text-align: center;
  padding-top: 7%;
  padding-bottom: 7%;
}
/* line 147, ../sass/nandi.scss */
.content-section-b h1 {
  margin-right: 10px;
  margin-bottom: 20px;
}

/* line 153, ../sass/nandi.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 159, ../sass/nandi.scss */
.cf:after {
  clear: both;
}

/* line 163, ../sass/nandi.scss */
.boxes {
  display: block;
  width: 44%;
  height: 320px;
  background: #fe4;
  position: relative;
  overflow: hidden;
  float: left;
  margin: 2%;
  cursor: pointer;
  box-shadow: 0 0 5px #ece7df;
}
/* line 174, ../sass/nandi.scss */
.boxes .da-image {
  min-height: 100%;
  width: 100%;
}

/* line 179, ../sass/nandi.scss */
.overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: -100%;
  color: #FFF;
  background-color: #aaaaff;
  z-index: 10;
  text-align: center;
}
/* line 190, ../sass/nandi.scss */
.overlay p {
  font-size: 50px;
  font-weight: 300;
  padding-top: 80px;
}

/* line 197, ../sass/nandi.scss */
.container-imgs {
  width: 1170px;
  display: block;
  margin: 0;
  padding-top: 1%;
  padding-bottom: 3%;
}

@keyframes shine {
  50% {
    transform: scale(1.1);
  }
}
/* line 208, ../sass/nandi.scss */
.btn-success {
  animation: 1s shine infinite;
}
/* line 210, ../sass/nandi.scss */
.btn-success i {
  padding-right: 5px;
  font-size: 25px;
}

/* line 216, ../sass/nandi.scss */
.content-section-c, .content-section-d, .content-section-e {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 6%;
  background-color: #8f8fd6;
  color: #fafafa;
}
/* line 222, ../sass/nandi.scss */
.content-section-c h1, .content-section-d h1, .content-section-e h1 {
  margin-right: 10px;
  margin-bottom: 20px;
}
/* line 226, ../sass/nandi.scss */
.content-section-c .row, .content-section-d .row, .content-section-e .row {
  padding-bottom: 3%;
}

/* line 231, ../sass/nandi.scss */
.content-section-d {
  background-color: #aaffff;
  color: #000;
}

/* line 235, ../sass/nandi.scss */
.md-img {
  transition: 0.2s;
}
/* line 237, ../sass/nandi.scss */
.md-img:hover {
  transform: scale(1.1);
}

/* line 241, ../sass/nandi.scss */
.boxes-md {
  display: block;
  width: 30%;
  height: 240px;
  background: #fe4;
  position: relative;
  overflow: hidden;
  float: left;
  margin: 1.5%;
  cursor: pointer;
  box-shadow: 0 0 5px #ece7df;
}
/* line 252, ../sass/nandi.scss */
.boxes-md .md-image {
  min-height: 100%;
  width: 100%;
}
/* line 256, ../sass/nandi.scss */
.boxes-md .overlay-md {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: -100%;
  color: #FFF;
  background-color: #1789ce;
  z-index: 10;
  text-align: center;
}
/* line 267, ../sass/nandi.scss */
.boxes-md .overlay-md p {
  font-size: 20px;
  font-weight: 300;
  padding-top: 80px;
}

/* line 274, ../sass/nandi.scss */
.content-section-e {
  background-color: #55aaff;
}
/* line 276, ../sass/nandi.scss */
.content-section-e h1 {
  margin-bottom: 30px;
}
/* line 279, ../sass/nandi.scss */
.content-section-e #lead-1 {
  margin-left: -88px;
}
/* line 282, ../sass/nandi.scss */
.content-section-e i {
  font-size: 30px;
  margin-right: 10px;
}

/* line 287, ../sass/nandi.scss */
.boxes-sm {
  width: 22%;
  height: 160px;
  margin: 1.5%;
}
/* line 291, ../sass/nandi.scss */
.boxes-sm .sm-image {
  min-height: 100%;
  width: 100%;
}
/* line 295, ../sass/nandi.scss */
.boxes-sm .overlay-sm {
  background-color: #ffaaff;
}
/* line 297, ../sass/nandi.scss */
.boxes-sm .overlay-sm p {
  font-size: 20px;
  font-weight: 300;
  padding-top: 50px;
}
